{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
</head>


<body>
{% include  'partials/header.html' %}

<div class="search-container">
    <div class="container">
        <form action="" class="search-form">
            <input type="search" class="search-input" name="search">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="chapter_name"><p>{{chapter_name.name}}</p></div>

{% for photo in photos  %}
        <div class="chapters_pages">
        <img src="{{ photo.pages.url }}">
        </div>
{% endfor %}

{% if chapter_number_link == 1 %}
<a href="{% url 'manga:photo' next_chapter %}"> Next Chapter </a>
{% elif chapter_number_link == 50 %}
<a href="{% url 'manga:photo' previous_chapter %}"> Previous Chapter</a>
{% else %}
<a href="{% url 'manga:photo' previous_chapter %}"> Previous Chapter</a>
<a href="{% url 'manga:photo' next_chapter %}"> Next Chapter </a>
{% endif %}


<p></p>
</body>
{% include  'partials/footer.html' %}
</html>
