{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
</head>


<body>
{% include  'partials/header.html' %}

<div class="search-container">
    <div class="container">
        <form action="" class="search-form">
            <input type="search" class="search-input" name="search">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="chapter_name"><p>{{chapter_name.name}}</p></div>

{% for photo in photos  %}
        <div class="chapters_pages">
        <img src="{{ photo.pages.url }}">
        </div>
{% endfor %}


{% if chapter_number_link == 1 %}
<div class = "next_page_1"><a href="{% url 'manga:photo' next_chapter %}"> Next Chapter </a></div>
{% elif chapter_number_link == 50 %}
<div class = "prev_page_50"><a href="{% url 'manga:photo' previous_chapter %}"> Previous Chapter</a></div>
{% else %}
<div class = "prev_page" style = "float :left"><a href="{% url 'manga:photo' previous_chapter %}"> Previous Chapter</a></div>
<div class = "next_page"><a href="{% url 'manga:photo' next_chapter %}"> Next Chapter </a></div>
{% endif %}

</body>
{% include  'partials/footer.html' %}
</html>
