{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partials/head.html' %}
</head>


<body>
    {% include  'partials/header.html' %}

    <section class="content">
        <p>Some live in the deep darkness behind your eyelids. Some eat silence. Some thoughtlessly kill. Some simply drive men mad. They are known as mushi—creatures that came into being shortly after life emerged from the primordial ooze. They still exist parallel to our own lives and can only be seen by a select few. As a mushishi, Ginko is one of the few who are aware of their existense, and this young man with a sardonic smile roams from place to place with the knowledge and skill to aid those unwittingly affected by mushi.</p>
    </section>
    <div class="all_chapters">All Chapters</div>
        <div class="chapters_list">
        <ul>
            {% for chapter in chapters %}
            <li>
                <a href="{% url 'manga:photo' chapter.id %}"> {{ chapter.name }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
        {% include  'partials/footer.html' %}

</body>

</html>








